<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://unpkg.com/mvp.css" />
    <title><%=pageTitle%></title>
  </head>
  <body>
    <header>
      <nav>
        <li>홈</li>
        <li>시리즈</li>
        <li>영화</li>
        <li>요즘 뜨는 콘텐츠</li>
        <li>내가 찜한 콘텐츠</li>
        <li>언어별로 찾아보기</li>
      </nav>
    </header>
    <main>
      <h1><%=pageTitle%></h1>
      <%-body%>
    </main>
    <footer>
      <div><i></i><i></i><i></i><i></i></div>
      <div>
        <div>
          <a href="#">link</a><a href="#">link</a><a href="#">link</a
          ><a href="#">link</a>
        </div>
        <div>
          <a href="#">link</a><a href="#">link</a><a href="#">link</a
          ><a href="#">link</a>
        </div>
        <div>
          <a href="#">link</a><a href="#">link</a><a href="#">link</a
          ><a href="#">link</a>
        </div>
        <div>
          <a href="#">link</a><a href="#">link</a><a href="#">link</a
          ><a href="#">link</a>
        </div>
      </div>
      <button>서비스 코드</button>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
        asperiores assumenda nemo, voluptate quae atque itaque ipsum est ducimus
        unde, repudiandae nisi numquam magni, quaerat autem ipsa molestias
        aliquam rerum?
      </p>
    </footer>
    <%-script%>
  </body>
</html>
