<body>
    <form method="post">
    <span aria-live="assertive">필수 정보입니다.</span>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="input title"
      required
      value="<%=title%>"
    />
    <input
      type="text"
      name="description"
      id="description"
      placeholder="input description"
      required
      value="<%=description%>"
    />
    <input
      type="text"
      name="hashtags"
      id="hashtags"
      placeholder="input hashtags"
      required
      value="<%=hashtags%>"
    />
    <input type="submit" value="Update">
  </form>
</body>