<body>
  <form method="post">
    <input
      type="text"
      name="title"
      id="title"
      placeholder="input title"
      required
    />
    <input
      type="text"
      name="description"
      id="description"
      placeholder="input description"
      required
    />
    <input
      type="text"
      name="hashtags"
      id="hashtags"
      placeholder="input hashtags"
      required
    />
    <button type="submit">submit</button>
  </form>
</body>
