<body>
  <form method="post", enctype="multipart/form-data" >
    <label for="file"></label>
    <input
      type="file"
      name="file"
      id="file"
      accept="image/*"
      placeholder="chosen file"
      required
    />
    <span aria-live="assertive">필수 정보입니다.</span>
    <input
      type="text"
      name="title"
      id="title"
      placeholder="input title"
      required
    />
    <input
      type="text"
      name="description"
      id="description"
      placeholder="input description"
      required
    />
    <input
      type="text"
      name="hashtags"
      id="hashtags"
      placeholder="input hashtags"
      required
    />
    <button type="submit">submit</button>
  </form>
</body>
